<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPY-O2MZPBoXwQPcA4VIih0nrpmYyLEUc</string>
	<key>GCM_SENDER_ID</key>
	<string>888225267212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.pawpartner.develop</string>
	<key>PROJECT_ID</key>
	<string>pawpartnerdevelopment</string>
	<key>STORAGE_BUCKET</key>
	<string>pawpartnerdevelopment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:888225267212:ios:c15e345d9270c8962af829</string>
</dict>
</plist>
